<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>TeCaSa</title>
</head>
<body>
	<div>
		<h1>Workshops</h1>
		<ul>
			<li><h4><a href="/insertar">Insertar Worshop</a></h4></li>
    <li><h4><a href="/listar">Listar</a></h4></li>
    <li><h4><a href="/buscarNombre">Buscar Worshops</a></h4></li>
    <li><h4><a href="/insertarCategory">Categorias</a></h4></li>
            <li><h4><a href="/listarCategorias">Lista de categorias</a></h4></li>

        </ul>
    </div>
    </body>
</html>